{{!-- Starting Foyer --}}

<main class="startFoyerPage">


	<div class="grid-x">
		<div class="cell">
			<div class="center">
				<img src="https://ashlynimages.s3.us-east-2.amazonaws.com/FoyerImage.jpg" class="bg" alt="foyerImg">

				<img id="foyerGhostSprite"
					src="https://ashlynimages.s3.us-east-2.amazonaws.com/kisspng-pixel-art-animated-film-ghost-5aff57d1ba3770.4820248215266836017628.png"
					alt="ghost" />
			</div>
		</div>
	</div>
	<div class="footer">
		{{!-- <container class="dialogueBox"> --}}
		<hr>
		{{!-- ghost speech --}}
		<div class="grid-y medium-grid-frame">
			<div class="cell medium-auto medium-cell-block-container">
				<div class="grid-x grid-padding-x">
					<div class="cell small-4 large-4"></div>
					<div class="cell medium-4 medium-cell-block-y">

						<div id="foyerMainRoomChoice">
							<p>Welcome back. Would you like to enter another room?</p>
							<a class="button secondary" href="/room1/2" id="ghostOne">Room 1</a>
							<a class="button secondary" href="/room2/3" id="ghostTwo">Room 2</a>
							<a class="button secondary" href="/room3/4" id="ghostThree">Room 3</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>