{{!-- foyer --}}
<img src="https://ashlynimages.s3.us-east-2.amazonaws.com/Brierwell.jpg" id="bg" alt="foyerImg">

<container class="foyerPage">
	<header id="ghostBtnBar">
		<a class="button secondary" href="/room1" id="ghostOne">Room 1</a>
		<a class="button secondary" href="/room2" id="ghostTwo">Room 2</a>
		<a class="button secondary" href="/room3" id="ghostThree">Room 3</a>
	</header>
</container>

<a class="button secondary" id="startBtn" href="/home">Enter!</a>