{{!-- Starting Foyer --}}

<body class="startFoyerPage">


	<div class="grid-x">
		<div class="cell">
			<div class="center">
				<img src="https://ashlynimages.s3.us-east-2.amazonaws.com/FoyerImage.png" id="bg" alt="foyerImg">

				<h1>{{ghost-name}}</h1>
				<img id="indexGhostSprite"
					src="https://ashlynimages.s3.us-east-2.amazonaws.com/kisspng-pixel-art-animated-film-ghost-5aff57d1ba3770.4820248215266836017628.png"
					alt="ghost" />
			</div>
		</div>
	</div>
	<div class="footer">
		<container class="dialogueBox">
			<hr>
			{{!-- ghost speech --}}
			<div class="grid-x">
				<div class="cell small-3 large-3"></div>
				<div class="cell small-2 large-2">
					<form id="nameForm" class="create-form" onsubmit="return false">

						<div class="form-group">
							<label class="label-text" for="fullName">AH! Hello. You scared me. I wasn’t expecting you.
								My name is
								{{!-- {{Intro Ghost}} --}}
								What is your name?</label>
							<input type="text" id="fullName" name="fullName">
						</div>
						<div class="nameSubmitBtn">
							<button onclick="displayage()" class="button secondary" id="name-btn" for="fullName"
								type="submit" name="fullName">Add
								Name</button>
						</div>
					</form>
					<form id="ageForm" class="create-form" onsubmit="return false" >

						<div class="form-group">
							<label class="label-text" for="age">What is your age?</label>
							<input type="text" id="age" name="age">
						</div>
						<div class="ageSubmitBtn">
							<button onclick="displaygender()" class="button secondary" id="age-btn" for="age" type="submit" name="age">Add
								Age</button>
						</div>
					</form>
					<form id="genderForm" class="create-form" onsubmit="return false">

						<div class="form-group">
							<label class="label-text" for="gender">What is your gender?</label>
							<input type="text" id="gender" name="gender">
						</div>
						<div class="ageSubmitBtn">
							<button class="button secondary" id="gender-btn" for="gender" type="submit"
								name="gender">Add
								Gender</button>
						</div>
					</form>
					{{!-- <p class="dialogue">{{insert current line of text here}}</p>
					<p>{{insert next dialogue line here}}</p> --}}
					<br>
				</div>
				<div class="cell small-4 large-4">
					<p>Which room would you like to enter?</p>
					<a class="button secondary" href="/room1/1" id="ghostOne">Room 1</a>
					<a class="button secondary" href="/room2/2" id="ghostTwo">Room 2</a>
					<a class="button secondary" href="/room3/3" id="ghostThree">Room 3</a>

				</div>
			</div>
		</container>
	</div>
</body>