<main class="homePage">
	<div class="grid-x">
		<div class="cell">
			<div class="center">
				<img src="https://ashlynimages.s3.us-east-2.amazonaws.com/homePageImage.jpg" class="bg" alt="">
				<img id="indexGhostSprite"
					src="https://ashlynimages.s3.us-east-2.amazonaws.com/kisspng-pixel-art-animated-film-ghost-5aff57d1ba3770.4820248215266836017628.png"
					alt="ghost" />
			</div>
		</div>
	</div>
	<div class="footer">
		<container class="dialogueBox">
			<hr>
			{{!-- ghost speech --}}
			<div class="grid-x">
				<div class="cell small-5 large-5"></div>
				<div class="center cell small-2 large-2">

					<a class="button large secondary" id="newStartEnterBtn" href="/startpage/1">An eerie feeling compels you towards the house!</a>
					<br>
				</div>
				<div class="cell small-5 large-5">
					
				</div>
			</div>
		</container>
	</div>
</main>
