<div class="grid-x">
    <div class="cell">
        <div class="center">
            <img src="https://ashlynimages.s3.us-east-2.amazonaws.com/Bedroom.jpg" class="bg" alt="Room 3 Image" />
            <img id="room3GhostSprite" src="https://ashlynimages.s3.us-east-2.amazonaws.com/pioneerGhostPXL.png"
                alt="ghost" />
        </div>
    </div>
</div>
{{!-- <img src="#" id="ghostSprite" alt="ghost_sprite" /> --}}
<div class="footer">
    <hr>
    <div class="grid-y medium-grid-frame">
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x">
                <div class="cell small-1 large-3 "></div>
                <div class="cell medium-6 medium-cell-block-y">
                    <button type="button" class="button secondary show" id="gogoGhostie">Go Go Ghostie</button>


                    {{!-- initial greeting from Ghost 1 --}}
                    <form id="interaction1-0" class="create-form hide">

                        <div class="form-group">

                            <p> Who goes there?
                            </p>

                        </div>
                        {{!-- pos show 1.1 --}}
                        <div id="positiveBtn">
                            <button class="button secondary" id="posBtn1" for="positive" type="submit"
                                name="posBtn">Woah! Who are
                                you?
                            </button>
                        </div>
                        {{!-- neg show 1.2 --}}
                        <div id="negativeBtn">
                            <button class="button secondary" id="negBtn1" for="negative" type="submit" name="negBtn">Ahh
                                get away,
                                you demon.
                            </button>
                        </div>
                    </form>
                    {{!-- if positive first user response show 1.1 --}}
                    <form id="interaction1-1" class="create-form hide">

                        <div class="form-group">

                            <p>
                                I was one of the first people to build permanently on this patch of land. Greetings, my
                                name is
                                {{entryGhost.fullName}}. Welcome to my land. I was here when we were still a loyal
                                colony. I
                                came from
                                {{entryGhost.homeTown}} to provide
                                my pious services to this wild place.
                            </p>

                        </div>
                        {{!-- pos show 1.3 --}}
                        <div id="positiveBtn2">
                            <button class="button secondary" id="posBtn2" for="positive" type="submit" name="posBtn">Oh
                                wow, so
                                you've been in the house the longest?
                            </button>
                        </div>
                        {{!-- pos show 1.4 --}}
                        <div id="negativeBtn2">
                            <button class="button secondary" id="negBtn2" for="negative" type="submit"
                                name="negBtn">Okay, well
                                demons are mean, so...
                            </button>
                        </div>
                    </form>
                    {{!-- negative response --}}
                    <form id="interaction1-2" class="create-form hide">

                        <div class="form-group">

                            <p>
                                I am not a demon, you fool. I'm a simple, god-fearing preacher who who travelled from
                                across the
                                ocean to
                                settle this vast land with my family and provide ministry for others like us.
                            </p>

                        </div>
                        <div id="positiveBtn3">
                            <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">Oh
                                wow, so
                                you've been in the house the longest?
                            </button>
                        </div>
                        <div id="negativeBtn3">
                            <button class="button secondary" id="negBtn3" for="negative" type="submit"
                                name="negBtn">Okay, well
                                demons are mean, so...
                            </button>
                        </div>
                    </form>
                    {{!-- if positive second user response show 1.3 --}}
                    <form id="interaction1-3" class="create-form hide">

                        <div class="form-group">

                            <p>
                                Not exactly. For a long time my wife, Barbara, and I wandered in the overgrown potato
                                fields
                                outside after our cabin finally collapsed from old age. When {{frontGhost.fullName}}
                                built her house on
                                the same
                                land, I got stuck
                                inside her house. I don't know what happened to the rest of my family.
                            </p>

                        </div>
                        <div id="positiveBtn4">
                            <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">I'm
                                so sorry to
                                hear that. I hope they're okay.
                            </button>
                        </div>
                        <div id="negativeBtn4">
                            <button class="button secondary" id="negBtn3" for="negative" type="submit"
                                name="negBtn">Well, you can't
                                stop me.
                            </button>
                        </div>
                    </form>
                    {{!-- if negative second user response show 1.4--}}
                    <form id="interaction1-4" class="create-form hide">

                        <div class="form-group">

                            <p>
                                Do not mistake my annoyance for ill intent. I help take care of this place and I don't
                                like visitors
                                disturbing the peace. I once took care of the outside fields for a long time until this
                                house was
                                built and I became
                                trapped inside.
                            </p>

                        </div>
                        <div id="positiveBtn5">
                            <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">I'm
                                so sorry to
                                hear that.
                            </button>
                        </div>
                        <div id="negativeBtn5">
                            <button class="button secondary" id="negBtn3" for="negative" type="submit"
                                name="negBtn">Well, you can't
                                stop me.
                            </button>
                        </div>
                    </form>
                    {{!-- positive response --}}
                    <form id="interaction1-5" class="create-form hide">
                        <div class="form-group">
                            <p>
                                Thank you. I believe they have been set free somehow. I don't know why I'm still here,
                                but it may
                                have something to do with my insistence that this land is mine and only mine. In my
                                younger days on
                                the homestead,
                                we had to fight each other for resources, and maybe I wasn't so kind to my neighbors.
                                Perhaps that's
                                why I'm stuck. I would appreciate any help. I just want to leave this house.
                            </p>

                        </div>
                        <div id="positiveBtn6">
                            <a class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn"
                                href="/foyer/1">I
                                want to help.
                            </a>
                        </div>
                        <div id="negativeBtn6">
                            <a class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn"
                                href="/foyer/1">I
                                don't want to
                                help you.
                            </a>
                        </div>
                    </form>
                    {{!-- negative response --}}
                    <form id="interaction1-6" class="create-form hide">
                        <div class="form-group">
                            <p>
                                Do not test me child. I will chase you away like I chased the others away!!
                            </p>
                        </div>
                        <div id="positiveBtn7">
                            <a class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn"
                                href="/foyer/1">I'm
                                sorry.
                            </a>
                        </div>
                        <div id="negativeBtn7">
                            <a class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn"
                                href="/foyer/1">Fine, do it,
                                then.
                            </a>
                        </div>
                    </form>
                    <a class="button secondary run" id="runBtn" href="/foyer/1">RUN!</a>
                </div>
                <div class="medium-5 column">
                </div>
                <div class="medium-1 column"></div>
            </div>
        </div>
    </div>
</div>