<h1>{{ghost-name}}</h1>
<div class="row">
    <div class="medium-2 column"></div>
    <div class="medium-8 column">
        <img id="bg" class="backgroundImg"
            src="https://images.8tracks.com/cover/i/012/335/362/2141676ec3dfc6c1272f09d02aac107f-1267.jpg?rect=0,259,563,563&q=98&fm=jpg&fit=max"
            alt="backgroundImage" />
    </div>
    <div class="medium-2 column"></div>
</div>
{{!-- <img src="#" id="ghostSprite" alt="ghost_sprite" /> --}}
<div class="row">
    <div class="medium-1 column"></div>
    <div class="medium-5 column">
        <div class="row"><button class="positiveBtn">POSITIVE</button></div>
        <div class="row"><button class="negativeBtn">NEGATIVE</button></div>
        <div class="row">
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </div>

    </div>
    <div class="medium-5 column">


        <p class="dialogue1"></p>

    </div>
    <div class="medium-1 column"></div>
</div>