<h1>{{ghost-name}}</h1>
<div class="row">
    <div class="medium-2 column"></div>
    <div class="center medium-8 column">
        <img id="bg" class="backgroundImg"
            src="https://images.8tracks.com/cover/i/012/335/362/2141676ec3dfc6c1272f09d02aac107f-1267.jpg?rect=0,259,563,563&q=98&fm=jpg&fit=max"
            alt="backgroundImage" />
    </div>
    <div class="medium-2 column"></div>
</div>
{{!-- <img src="#" id="ghostSprite" alt="ghost_sprite" /> --}}
<div class="row">
    <div class="medium-1 column"></div>
    <div class="medium-5 column">
        <button type="button" class="button secondary show" id="gogoGhostie">Go go ghostie</button>


        {{!-- initial greeting from Ghost 1 --}}
        <form id="interaction1-0" class="create-form hide">

            <div class="form-group">

                <p> Who goes there?
                </p>

            </div>
            {{!-- pos show 1.1 --}}
            <div id="positiveBtn">
                <button class="button secondary" id="posBtn1" for="positive" type="submit" name="posBtn">Woah! Who are
                    you?
                </button>
            </div>
            {{!-- neg show 1.2 --}}
            <div id="negativeBtn">
                <button class="button secondary" id="negBtn1" for="negative" type="submit" name="negBtn">Ahh get away,
                    you demon.
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>
        {{!-- if positive first user response show 1.1 --}}
        <form id="interaction1-1" class="create-form hide">

            <div class="form-group">

                <p>
                    I was one of the first people to build permanently on this patch of land. Greetings, my name is
                    BARNABY JENKINS. Welcome to my land. I was here when we were still a loyal colony. I came from
                    LIVERPOOL to provide
                    my pious services to this wild place.
                </p>

            </div>
            {{!-- pos show 1.3 --}}
            <div id="positiveBtn2">
                <button class="button secondary" id="posBtn2" for="positive" type="submit" name="posBtn">Oh wow, so
                    you've been in the house the longest?
                </button>
            </div>
            {{!-- pos show 1.4 --}}
            <div id="negativeBtn2">
                <button class="button secondary" id="negBtn2" for="negative" type="submit" name="negBtn">Okay, well
                    demons are mean, so...
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>
        {{!-- if negative first user response show 1.2--}}
        <form id="interaction1-2" class="create-form hide">

            <div class="form-group">

                <p>
                    I am not a demon, you fool. I'm a simple, god-fearing preacher who who travelled from across the
                    ocean to
                    settle this vast land with my family and provide ministry for others like us.
                </p>

            </div>
            {{!-- pos show 1.5 --}}
            <div id="positiveBtn3">
                <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">Oh wow, so
                    you've been in the house the longest?
                </button>
            </div>
            {{!-- neg show 1.6 --}}
            <div id="negativeBtn3">
                <button class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn">Okay, well
                    demons are mean, so...
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>
        {{!-- if positive second user response show 1.3 --}}
        <form id="interaction1-3" class="create-form hide">

            <div class="form-group">

                <p>
                    Not exactly. For a long time my wife, BARBARA, and I wandered in the overgrown potato fields
                    outside after our cabin finally collapsed from old age. When GERTRUDE built her house on the same
                    land, I got stuck
                    inside her house. I don't know what happened to the rest of my family.
                </p>

            </div>
            {{!-- pos show 1.7 --}}
            <div id="positiveBtn4">
                <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">I'm so sorry to
                    hear that. I hope they're okay.
                </button>
            </div>
            {{!-- neg show 1.8 --}}
            <div id="negativeBtn4">
                <button class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn">Well, you can't
                    stop me.
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>
        {{!-- if negative second user response show 1.4--}}
        <form id="interaction1-4" class="create-form hide">

            <div class="form-group">

                <p>
                    Do not mistake my annoyance for ill intent. I help take care of this place and I don't like visitors
                    disturbing the peace. I once took care of the outside fields for a long time until this house was
                    built and I became
                    trapped inside.
                </p>

            </div>
            {{!-- pos show 1.7 --}}
            <div id="positiveBtn5">
                <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">I'm so sorry to
                    hear that. I hope they're okay.
                </button>
            </div>
            {{!-- neg show 1.8 --}}
            <div id="negativeBtn5">
                <button class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn">Well, you can't
                    stop me.
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>
        <form id="interaction1-5" class="create-form hide">

            <div class="form-group">

                <p>
                    Thank you. I believe they have been set free somehow. I don't know why I'm still here, but it may
                    have something to do with my insistence that this land is mine and only mine. In my younger days on
                    the homestead,
                    we had to fight each other for resources, and maybe I wasn't so kind to my neighbors. Perhaps that's
                    why I'm stuck. I would appreciate any help. I just want to leave this house.
                </p>

            </div>
            {{!-- pos show 1.7 --}}
            <div id="positiveBtn6">
                <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">I want to help.
                </button>
            </div>
            {{!-- neg show 1.8 --}}
            <div id="negativeBtn6">
                <button class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn">I don't want to
                    help you.
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>
        <form id="interaction1-6" class="create-form hide">

            <div class="form-group">

                <p>
                    Do not test me child. I will chase you away like I chased the others away!!
                </p>

            </div>
            {{!-- pos show 1.7 --}}
            <div id="positiveBtn7">
                <button class="button secondary" id="posBtn3" for="positive" type="submit" name="posBtn">I'm sorry.
                </button>
            </div>
            {{!-- neg show 1.8 --}}
            <div id="negativeBtn7">
                <button class="button secondary" id="negBtn3" for="negative" type="submit" name="negBtn">Fine, do it,
                    then.
                </button>
            </div>
            <a href="/">
                <button class="run">RUN!</button>
            </a>
        </form>



    </div>
    <div class="medium-5 column">


    </div>
    <div class="medium-1 column"></div>
</div>