body {
  /* background-image: url(https://ashlynimages.s3.us-east-2.amazonaws.com/homePageImage.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto; */
  background-color: black;
}
.bg {
  position: fixed;
  bottom: 245px;
  z-index: -3;
  background-color: black;
  max-height: 700px;
  height: auto;
  max-height: 650px;
}
.bg2 {
  position: fixed;
  top: 0;
  z-index: -3;
  background-color: black;
  min-height: 800px;
  height: auto;
}
.center {
  display: flex;
  justify-content: center;
}

#startBtn {
  color: black;
  padding: 15px;
  border-style: solid;
  border-color: white;
  background-color: blueviolet;
}

/* .bgwidth {
  width: auto;
  height: auto;
  max-width: 1200px;
  max-height: 1200px;
}
.bgheight {
  width: auto;
  height: auto;
  max-width: 1200px;
} */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: black;
  color: white;
  text-align: center;
  overflow-y: scroll;
}
#indexGhostSprite {
  height: 200px;
  opacity: 0.5;
  position: absolute;
  bottom: 22%;
  right: 35%;
}
#foyerGhostSprite {
  height: 200px;
  opacity: 0.6;
  position: absolute;
  bottom: 30%;
  right: 28%;
}
.label-text {
  color: white;
}
#nameForm {
  display: block;
}
#ageForm {
  display: none;
}
#genderForm {
  display: none;
}
#foyerOption1 {
  display: none;
}
#foyerStayChoice {
  display: none;
}
#foyerRoomChoice {
  display: none;
}
#foyerPosRes {
  display: none;
}
#foyerNegRes {
  display: none;
}
#foyerAgeGender {
  display: none;
}
#foyerLastPrompt {
  display: none;
}
#age {
  align-content: center;
  justify-content: center;
  margin-left: 40%;
  width: 75px;
}
#gender {
  align-content: center;
  justify-content: center;
  margin-left: 40%;
  width: 200px;
}
body.startFoyerPage {
  background-color: black;
}
.hide {
  display: none;
}
p {
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: blueviolet;
  padding: 5px;
}
#foyerRoomText {
  color: black;
}
