/* Main Styling */
body {
  background-color: black;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: black;
  color: white;
  text-align: center;
  overflow-y: scroll;
}
.center {
  display: flex;
  justify-content: center;
}
.startFoyerPage {
  background-color: black;
}
.hide {
  display: none;
}
#startBtn {
  color: black;
  padding: 15px;
  border-style: solid;
  border-color: white;
  background-color: blueviolet;
}
.label-text {
  color: white;
}


/* Background Image Styling */
.bg {
  position: fixed;
  bottom: 245px;
  z-index: -3;
  background-color: black;
  max-height: 700px;
  height: auto;
}

.bg2 {
  position: fixed;
  top: 0;
  z-index: -3;
  background-color: black;
  max-height: 700px;
  height: auto;
}
.bg3 {
  position: fixed;
  bottom: 245px;
  z-index: -3;
  background-color: black;
  min-height: 700px;
  height: auto;
}


/* Ghost Image Styling */
#indexGhostSprite {
  height: 200px;
  opacity: 0.5;
  position: absolute;
  bottom: 22%;
  right: 35%;
}
#foyerGhostSprite {
  height: 200px;
  opacity: 0.6;
  position: absolute;
  bottom: 30%;
  right: 28%;
}
#room1GhostSprite {
  height: 300px;
  opacity: 0.6;
  position: absolute;
  bottom: 30%;
  right: 35%;
}
#room2GhostSprite {
  height: 300px;
  opacity: 0.6;
  position: absolute;
  bottom: 35%;
  right: 50%;
}
#room3GhostSprite {
  height: 300px;
  opacity: 0.6;
  position: absolute;
  bottom: 30%;
  right: 60%;
}

/* Display Styling */
#nameForm {
  display: block;
}
#ageForm {
  display: none;
}
#genderForm {
  display: none;
}
#foyerOption1 {
  display: none;
}
#foyerStayChoice {
  display: none;
}
#foyerRoomChoice {
  display: none;
}
#foyerPosRes {
  display: none;
}
#foyerNegRes {
  display: none;
}
#foyerAgeGender {
  display: none;
}
#foyerLastPrompt {
  display: none;
}

/* User Input Forms */
#age {
  display:inline-block;
  align-content: center;
  justify-content: center;
  vertical-align: center;
  width: 75px;
}
#gender {
  display:inline-block;
  align-content: center;
  justify-content: center;
  vertical-align: center;
  width: 200px;
}
#fullName{
  display:inline-block;
  align-content: center;
  justify-content: center;
  vertical-align: center;
  width: 200px;
}

